.intro{
  text-align: center;
  background: linear-gradient(to right, #6aa3ff, #c7d9ff);
  padding-top: 10px;
}
.intro h1 {
  font-size: 36px;
  margin-bottom: 0;
}

.intro span {
  color: black;
}

.intro button {
  margin-top: 1px;
  padding: 10px 25px;
  background: #1e6bf1;
  color: white;
  border: none;
  cursor: pointer;
}