.main{
  display: flex;
  justify-content: space-between;
  background-color: #264f95;
  align-items: center;
  padding: 60px 40px;
}

.hammer-img{
  max-width: 100%;
  height: auto;
  margin: 0;
  border-radius: 20px;
}

.main-text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  margin-right: 40px;
}
.main-button{
  margin-top: 40px;
}
.main-button button{
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border: none;
  color: rgb(70, 70, 211);
  border-radius: 3px;
}
